{% load static %}
<header class="head home">
    <div class="container">
        <div class="wrapper">
            <a class="logo" href="/" title="FinTip">
                <img alt="FinTip" src="{% static 'img/v1/logo.png' %}"/>
            </a>
            <a class="nav-toggle">
                <span class="toggle"></span>
                <span class="toggle"></span>
                <span class="toggle"></span>
            </a>
        </div>

        <nav class="navbar">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a class="active" href="/">Home</a>
                </li>
                <li class="nav-item"><a href="#">Questions</a></li>
                <li class="nav-item"><a href="#">Blog</a></li>
                <li class="nav-item"><a href="#">Articleship</a></li>
                <li class="nav-item"><a href="#">Login</a></li>
                <li class="nav-item">
                    <a href="/login/">Login</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="clearfix"></div>
