<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1"
          name="viewport">
    <!-- Favicon -->
    <link href="images/favicon.ico" rel="shortcut icon">
    <title>hintMatrix</title>

    <!-- CSS -->
    <link href="css/default.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="site-wrapper">

    <!-- header area start -->
    <header class="head">
        <a class="logo" href="#" title=""><img alt=""
                                               src="images/logo.png"/></a>
    </header>
    <!-- header area end -->

    <!-- section start -->
    <section class="box-one">
        <div class="bor-cont">
            <h2 class="text-center padding-bottom">Reset Password</h2>
            <form id="#" type="POST">
                <strong>Email:</strong>
                <label>
                    <input id="email" name="email"
                           onBlur="if (this.value == '') {this.value = 'Enter email';}"
                           onFocus="if(this.value == 'Enter email') {this.value = '';}"
                           type="email" value="Enter email">
                </label>
                <div class="clearfix padding"></div>
                <strong>Password:</strong>
                <label>
                    <input id="password" type="password">
                </label>
                <div class="clearfix padding-top-3"></div>
                <strong></strong>
                <button class="but-forms" type="submit">Submit</button>
            </form>
            <div class="clearfix"></div>
        </div>
    </section>
    <!-- section end -->


</div>
</body>
</html>
