{% load static %}
<!-- header area start -->
<div class="container">
    <div class="wrapper">
        <a class="logo" href="/" title="hintMatrix">
            <img alt="hintMatrix" src="{% static 'img/v2/logo.png'%}"/>
        </a>
        <a class="nav-toggle">
            <span class="toggle"></span>
            <span class="toggle"></span>
            <span class="toggle"></span>
        </a>
    </div><!-- end logo -->
    <nav class="navbar">
        <ul class="nav-menu">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/question/">Questions</a></li>
            <!--            <li class="nav-item"><a href="/blog/">Blog</a></li>-->
            <!--            <li class="nav-item"><a href="/articleship/">Articleship</a></li>-->
            <li class="nav-item"><a href="/login/">Login</a></li>
            <!--            <li class="nav-item"><a href="/signup/">Signup</a></li>-->
        </ul>
    </nav><!-- end navigation -->
</div>
